/*
  Mixins
*/
/*
  Styles from Stylebootstrap to customize colours
  Missing dropdown colours
*/
@import "palette.css";
/*
  More bootstrap customization
*/
.container-fluid {
  padding: 0;
}
h1,
h2,
h3,
h4 {
  font-weight: 100 !important;
}
.btn {
  border-color: none;
  border: 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important;
  text-shadow: none;
}
.well {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
hr {
  border-bottom: 0;
}
.navbar .nav li > a {
  text-shadow: none !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #fff;
  text-decoration: none;
  background-color: #6169f4 !important;
  background-image: none !important;
}
.clearmargin {
  margin: 0 !important;
}
.maincol {
  padding: 20px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
}
.home-btn:hover {
  background-color: #333;
  background-image: -moz-linear-gradient(top, #333, #333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#333));
  background-image: -webkit-linear-gradient(top, #333, #333);
  background-image: -o-linear-gradient(top, #333, #333);
  background-image: linear-gradient(to bottom, #333, #333);
  background-repeat: repeat-x;
  color: #fff !important;
  text-shadow: none !important;
}
.btn-warning {
  color: #333 !important;
}
#sidebar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: inherit;
  height: 100%;
  position: fixed;
  background-color: #6169f4 !important;
  padding: 20px !important;
  color: #fff;
}
#sidebar h1,
#sidebar h2,
#sidebar h3,
#sidebar h4 {
  color: #fff;
}
#sidebar form.navbar-search .search-query {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-family: Century Gothic, sans-serif;
}
#sidebar .nav.nav-list.home-navbar {
  padding: 0;
  margin-top: 20px;
}
#sidebar .nav.nav-list.home-navbar * {
  color: #fff;
}
#sidebar .nav.nav-list.home-navbar li a {
  text-shadow: none !important;
}
#sidebar .nav.nav-list.home-navbar li a:hover {
  background-color: #333 !important;
}
#sidebar a.brand:hover {
  text-decoration: none;
}
#sidebar a.brand:hover h2 {
  color: #333 !important;
}
#sidebar .footer {
  position: absolute;
  bottom: 0;
  font-size: 10px;
}
#sidebar .footer * {
  color: #fff;
}
#result {
  border: 1px solid #eee;
  height: 500px;
  width: 100%;
}
#editor {
  width: 100%;
  height: 500px;
  border: 1px solid #eee;
}
