/*
  Mixins
*/
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  -o-border-radius arguments
  -ms-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  -o-box-shadow arguments
  -ms-box-shadow arguments
  box-shadow arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  -ms-transition arguments
  transition arguments

linearGradient(color1, color2)
  background-color color1
  background-image -moz-linear-gradient(top, color2, color1)
  background-image -webkit-gradient(linear, 0 0, 0 100%, from(color2), to(color1))
  background-image -webkit-linear-gradient(top, color2, color1)
  background-image -o-linear-gradient(top, color2, color1)
  background-image linear-gradient(to bottom, color2, color1)
  background-repeat repeat-x  

box-sizing()
  -webkit-box-sizing arguments
  -moz-box-sizing arguments
  -ms-box-sizing arguments
  -o-box-sizing arguments
  box-sizing arguments

transform()
  -webkit-transform arguments
  -moz-transform arguments
  -ms-transform arguments
  -o-transform arguments
  transform arguments

/*
  Styles from Stylebootstrap to customize colours
  Missing dropdown colours
*/
@import "palette.css"

/*
  More bootstrap customization
*/
